.header-of-page{
    height: 50px;
    width: 100%;
    margin-top: 50px;
  
}
.nav-of-page{

    width: 100%;

    

}
.section-of-page{
   height: 100px;
    width: 65%;
   float: left;
   margin-left: 30px;
 
  
}
.center{
    text-align: center;
}

.aside-of-page{
    height: 500px;
    width: 30%;
    float:right;
    margin-right: 30px;
    background-color: aliceblue;
    text-align: center;
    margin-top: 50px;
   
}
.footer-of-page{
    height: 100px;
    width: 100%;
   margin-top: 1050px;

}

.content {
    position:absolute;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background-image: url("trong-dong.jpg");

}

